@media only screen and (max-width: 550px){

  #logo{
    float: left;
 }

  #menu{
    float:none;
    width: auto;
    text-align: center;
 }

  #menu ul{
    padding: 0;
 }

  #menu ul li{
    padding: 0.8em;
    border-bottom: 1px solid #ddd;
 }

  #content{
    width: auto;
    margin: 0;
    padding: 1em 0.5em 1em 0.5em;
    border: none;
  }
  .foto h1{
	margin: 0.2em;
  }
  .foto figure{
  	width: 95%;	
	max-height:none;
  }
  .fotocont{
	display: block;
  }
}